<html lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <meta name='HandheldFriendly' content='True' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, viewport-fit=cover'
    />
    <link href="https://fonts.cdnfonts.com/css/avenir" rel="stylesheet">
    <title>MRD</title>
  </head>
  <body>
    <div style="width: 100%; height: auto">
          <img style=" width: 162px; mix-blend-mode: multiply;" src="https://mrd-bucket.s3.us-west-2.amazonaws.com/logo/mrd/mrd-logo2.png" alt="MRD">
          <p 
            style="
              display: block;
              width: 100%;
              height: 31px;
              font-family: 'Avenir', sans-serif;
              font-style: normal;
              font-weight: 900;
              font-size: 24px;
              line-height: 130%;
              color: #202D46;
              padding: 15px 0;
              flex: none;
              order: 0;
              flex-grow: 0;
            "
            >
              Sua conta foi aprovada! 
            </p>
          <p 
          style="
                padding: 15px 0;
                display: block;
                width: 500px;
                height: 42px;
                font-family: 'Avenir', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                color: #202D46;
                flex: none;
                order: 1;
                flex-grow: 0;"
          >
            Você já pode acessar sua conta e utilizar os serviços da MRD.<br>
          </p>
      <div
        style="
          border: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px 80px;
          width: 200px;
          height: 20px;
          background: #D72A34;
          box-shadow: 0px 3px 15px rgba(201, 21, 32, 0.2);
          border-radius: 8px";
      >
        <a 
          href="https://mrd-hlg.certsys.io/"   
          style="
            width: 100%;
            height: 22px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Avenir', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            text-decoration: none;"
        >
          Acessar minha conta!
        </a>
      </div>
    </div>
  </body>
</html>
