<html lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <meta name='HandheldFriendly' content='True' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, viewport-fit=cover'
    />
    <link href="https://fonts.cdnfonts.com/css/avenir" rel="stylesheet">
    <title>MRD</title>
  </head>
  <body>
    <div style="width: 100%; height: auto">
          <img style=" width: 162px; mix-blend-mode: multiply;" src="https://mrd-bucket.s3.us-west-2.amazonaws.com/logo/mrd/mrd-logo2.png" alt="MRD">
          <p>Dr(a). {{ doctorName }} lhe enviou um documento digital: {{ link }}</p>

    </div>
  </body>
</html>
